<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<%- include('partials/styles.ejs') %>

<body style="margin-bottom: 100px;">
    <%- include('partials/nav') %>

    <div class="container">
        

        <div style="flex-wrap: wrap;" class="container d-flex p-4 justify-content-around">

            <% for(var i = 0; i < allPhotosShuffled.length; i++){ %>

                <div class="imageDash colorBlueGradient card p-2 pb-4 m-2">

                    <h5 style="height: 25px; overflow: hidden;" class="text-center"><%= allPhotosShuffled[i].name %></h5>

                    <a href="/api/photos/dashboard/<%= userId %>/<%=allPhotosShuffled[i]._id%>">
                        <img style="object-fit: cover;" class="imageHeight w-100" src="<%= allPhotosShuffled[i].imgPath%>" alt="">
                    </a>

                </div>

            <% } %>

        </div>


            

    </div>



</body>

<%- include('partials/footer') %>
</html>