<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>
<%- include('partials/styles.ejs') %>

<body style="margin-bottom: 100px;">
    <%- include('partials/nav') %>

    <div class="gradient containerMod my-5">
        
        <form class="p-5" action="" enctype="multipart/form-data" method="post">

            <div class="mb-3 text-center">

                <label class="form-label" for="name">Name</label>
                <input class="form-control" name="name" type="text">
                    
            </div>

            <div class="mb-3 text-center">

                <label class="form-label" for="description">Description</label>
                <input class="form-control" name="description" type="text">
    
            </div>
    
            <div class="mb-3 text-center">

                <label class="form-label" for="img">Image</label>
                <input class="form-control" name="img" type="file">    

            </div>
            <div class="my-2 d-flex text-center buttons">

                <input style="margin-right: 10px;" class="topButton colorBlue btn py-3" value="Upload" type="submit">
                <a class="btn btn-secondary py-3 fst-italic text-decoration-none lowButton" href="/api/photos/dashboard/<%= userId %>"><i class="fas fa-times"></i> Cancel</a>
    
            </div>

        </form>

    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(alert){ %>

        <script>
            Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '<%= alertText %>',
            }).then(()=>{
                window.location = '/api/photos/create/<%= userId %>'
            })
        </script>

    <%}%>


    
</body>

<%- include('partials/footer') %>
</html>