<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<%- include('partials/styles.ejs') %>

<body style="margin-bottom: 100px;">
    <%- include('partials/nav') %>

    <div class="container">
        
        <h1 class="colorRedGradient text-center my-4 py-2"><%= username %></h1>

        <div style="flex-wrap: wrap;" class="container d-flex p-4 justify-content-around">

            <% for(var i = 0; i < photos.length; i++){ %>

                <div class="imageDash colorBlueGradient card p-2 pb-4 m-2">

                    <h5 style="height: 25px; overflow: hidden;" class="text-center"><%= photos[i].name %></h5>

                    <a href="/api/photos/dashboard/<%=photos[i].user._id%>/<%=photos[i]._id%>">
                        <img style="object-fit: cover;" class="imageHeight w-100" src="<%= photos[i].imgPath%>" alt="">
                    </a>

                </div>

            <% } %>

            <div style="width: 23%;  border: none;" class="card p-2 m-2 text-center">
                
                <a style="font-size: 100px;" class="my-auto" href="/api/photos/create/<%= userId %>"><i class="far fa-plus-square"></i></a>

            </div>

        </div>


            

    </div>



</body>

<%- include('partials/footer') %>
</html>