<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<%- include('partials/styles.ejs') %>
<body style="margin-bottom: 100px;">
    <%- include('partials/nav') %>


    <div class="containerMod my-5 gradient">
        
        <form class="p-5" action="" enctype="multipart/form-data" method="post">

            <div class="mb-3 text-center">

                <label class="form-label" for="name">Name</label>
                <input class="form-control" name="name" type="text" value="<%= photoFound.name %>">
                    
            </div>

            <div class="mb-3 text-center">

                <label class="form-label" for="description">Description</label>
                <input class="form-control" name="description" type="text" value="<%= photoFound.description %>">
    
            </div>

            <div class="buttons my-2 d-flex text-center">

                <input style="margin-right: 10px;" class="topButton colorBlue btn py-3" value="Edit" type="submit">
                <a class="lowButton btn btn-secondary py-3 fst-italic text-decoration-none" href="/api/photos/dashboard/<%= userId %>/<%= photoFound._id %>"><i class="fas fa-times"></i> Cancel</a>
    
            </div>

        </form>

    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(alert){ %>

        <script>
            Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '<%= alertText %>',
            }).then(()=>{
                window.location = '/api/photos/edit/<%= userId %>/<%= photoFound._id%>'
            })
        </script>

    <%}%>

    
</body>

<%- include('partials/footer') %>
</html>