<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<%- include('partials/styles.ejs') %>
<body style="margin-bottom: 100px;">
    <%- include('partials/nav') %>


    <div class="container w-50 my-5 gradient">
        
        <form class="p-5" action="" enctype="multipart/form-data" method="post">

            <div class="mb-3 text-center">

                <label class="form-label" for="name">Name</label>
                <input class="form-control" name="name" type="text" value="<%= photoFound.name %>">
                    
            </div>

            <div class="mb-3 text-center">

                <label class="form-label" for="description">Description</label>
                <input class="form-control" name="description" type="text" value="<%= photoFound.description %>">
    
            </div>

            <div class="my-2 d-flex text-center">

                <input style="margin-right: 10px;" class="colorBlue btn py-3 w-75" value="Edit" type="submit">
                <a class="btn btn-secondary py-3 w-25 fst-italic text-decoration-none" href="/api/photos/dashboard/<%= userId %>/<%= photoFound._id %>"><i class="fas fa-times"></i> Cancel</a>
    
            </div>

        </form>

    </div>


    
</body>

<%- include('partials/footer') %>
</html>