<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<%- include('partials/styles.ejs') %>
<body style="margin-bottom: 100px;">
    <%- include('partials/nav') %>


    <div class="container w-75 mb-5">

                <h3 class="colorRedGradient text-center my-4 py-2"><%= photoFound.name %></h3>
                <img style="max-height: 550px; object-fit:scale-down;" class="w-100" src="<%= photoFound.imgPath%>" alt="">
                <p style="width: 23%; font-weight: bold;border: none;" 
                class=" colorBlueGradient text-center mx-auto my-3 p-3"><%= photoFound.description %></p>

            <div class="my-2 d-flex text-center justify-content-center">
                
                <a style="margin-right: 10px;" class="colorBlue btn py-3 w-25" href="/api/photos/edit/<%= photoFound.user._id %>/<%= photoFound._id%>"><i class="fas fa-edit"></i> Edit</a>
                
                <a class="colorRed btn py-3 w-25 fst-italic" href="/api/photos/delete/<%= photoFound.user._id %>/<%= photoFound._id %>"><i class="fas fa-trash-alt"></i> Delete</a>

            </div>
    </div>


</body>

<%- include('partials/footer') %>
</html>