<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<%- include('partials/styles.ejs') %>
<body style="margin-bottom: 100px;">
    <%- include('partials/nav') %>


    <div class="mb-5">

                <h3 class="colorRedGradient text-center my-4 py-2"><%= photoNoUser.name %></h3>
                <img style="max-height: 550px; object-fit:scale-down;" class="w-100" src="<%= photoNoUser.imgPath%>" alt="">
                <p style="width: 23%; font-weight: bold; border: none;" 
                class="colorBlueGradient text-center mx-auto my-3 p-3"><%= photoNoUser.description %></p>

    </div>


</body>

<%- include('partials/footer') %>
</html>